html{
    background-color: black;
}

head{
    color: aqua;
}

.grid {
    width: 300px; 
    height: 300px;
    border: solid aqua 3px;
    display: flex; 
    flex-wrap: wrap;
    background-color: black;
}

.grid div {
    width: 20px; 
    height: 20px; 
}

.invader {
    background-color: purple; 
    border-radius: 10px;
}

.shooter{
    background-color: gainsboro; 
}

.laser {
    background-color: aqua;
}

.boom{
    background-color: aqua;
}

.results{
    color: aqua;
}